
.header{
    width: 100%;
    min-height: 20vh;
    background: #262526;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
    border-radius: 0 0 20px 20px;    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}
.title{
    font-family: 'WickedGrit';
    color: #6B7BA6;
    margin: 0;
    font-size: 5rem;
    text-align: center;
}
.by{
    color: #E5E8F1;
    font-family: 'Golden_Ranger';
    margin: 0;
}
@media screen and (max-width: 590px){
    .header{
        display: flex;
        flex-direction: column;
    }
    .title{
        font-size: 3rem;
    }
    .by{
        font-size: 1rem;
    }
}